body {
	background-image:  url(https://raw.githubusercontent.com/MakerChannel/SGLTDPPWUS/main/background.jpg);
	background-repeat: no-repeat;

}

.top_link {
	text-decoration:  none;
	color:  white;
	margin: 15px;
	font-size: 40px;
}
