:root {
  --bar-height: 72px;
  --color-primary: #7e2cd3;
  --color-primary-light: #9b2ed1;
}

body {
 margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.header {
 height: 100vh;
 background: linear-gradient(to bottom right, var(--color-primary), var(--color-primary-light));
 display: flex;
 align-items: center;
  padding-top: var(--bar-height);
  box-sizing: border-box;
}

.u-centered {
 width: 100%;
 max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}

.call-to-action {
  max-width: 400px;
  padding: 32px;
  box-szing: border-box;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.1); 
  border-radius: 16px;
