.page_title {
 color: white; 
 text-align: center;
 font-size: 50px;
}

.page_description {
 text-align: center;
 color: white;
}

.description_holder {
width: 150px;
height: 150px;
}

body {
 background-color: black;
}
