.page_title {
 color: white; 
 text-align: center;
 font-size: 50px;
}

.page_description {
 color: white;
 width: 150px;
 height: 150px;
 text-align: center;
 margin-left: 450px;
}

body {
 background-color: black;
}
